

header {
    background-color: #ffffff;
    color: #777777;
    border-bottom: 2px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
}

h1 {
    background-color: #4aaaa5;
    padding: 15px;
    color: #ffffff;
    width: 300px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
}

nav{
    float: right;
    padding: 20px;
}

h2{
    color:#4aaaa5;
}

body {
    color: #777777;
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/gravel.png");
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
  }


#bio-image {
    float: left;
    margin-right: 10px;
    margin-top: 10px
}

section {
    width: 960px;
    align-self: center;
    background-color: #ffffff; 
    overflow: auto; 
}

footer {
    border-top: 8px solid #4aaaa5;
    background-color: #ffffff;
    float: left;
    flex-shrink: 0;
}

input{
    widows: 960px;
}

.button{
    background-color: #4aaaa5;
    color: #ffffff;
}